@import "_variables";

/* Contacto */
.contacto {
    font-family: $font-main;
    display: grid;
    grid-template-areas: 
    "contacto redes";
    grid-template-columns: 2fr 1fr;
    font-size: 1.5rem;
}
.contacto__form {
    grid-area: contacto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contacto__title {
    font-size: 2rem;
}
.contacto__label {
    margin-top: 1rem;
}
.contacto__input {
    font-size: 1.2rem;
}
#consulta {
    height: 20rem;
}
.contacto__boton {
    font-family: $font-main;
    margin-left:10vw;
    width: 60px;
    height: 30px;
    font-size: 1.2rem;
}
.contacto__redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 0rem;
    gap: 2rem;
    align-items: center;
}
