@import "_variables";

/* Header */
.header {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: header;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.header__img {
    border-radius: 10%;
}